.be-ready {
    position: relative;
    height: 100vh;
}

.be-ready__astronaut-img {
    width: 400px;
}

.loading-circle {
    margin: 40px 0;
}

.be-ready__title-text {
    font-weight: 400;
    font-size: 100px;
    line-height: 126px;
    color: #F44516;
    text-align: center;
}

.ready-title {
    padding-top: 100px;
}

.ready-title__text {
    font-weight: 400;
    font-size: 75px;
    line-height: 94px;
    color: #F44516;
    text-align: center;
}

.ready-title__loading-text {
    font-weight: 400;
    font-size: 50px;
    line-height: 68px;
    color: #F44516;
    text-align: center;
}

.footer {
    position: absolute;
    background: #FFFFFF;
    bottom: 0;
    width: 100vw;
}

.footer-nickname {
    font-weight: 400;
    font-size: 30px;
    line-height: 88px;
    color: #000000;
    text-align: start;
}

.footer-score {
    font-size: 30px;
    padding: 10px;
}